.p1{
    background-color: white;
    border: 2px solid;
    height: 200px;
    width: 50%;
    box-sizing: border-box;
    padding: 20px;
    float: left;
    text-align: center;
    min-height: 50%;
} 
.container{
    background-color: blanchedalmond;
    height: 100vh;
}